/**
 * sass/theme/buttons.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2024.07.21)
 * @copyright 2024 (2024.07.21)
**/

// LISTS
    $button-solid: ".button a, .button-solid a, .button-form a, .button-elementor a, .btn-slider a";
    $button-alt: ".button-alt a";
    $button-ghost: ".button-ghost a";
    $button-mobile: ".button-mobile a";
    $button-all: "#{$button-solid}, #{$button-alt}, #{$button-ghost}, #{$button-mobile}";

// BUTTON-ALL
    #{$button-all} {
        // GLOBAL
            display: inline-block;
            margin: $button-margin-vertical $button-margin-horizontal;
            padding: $button-padding-vertical $button-padding-horizontal;
            border-radius: $button-border-radius;
            font-family: $button-text;
            font-size: $button-text-size;
            font-weight: $button-font-weight;
            text-align: center;
            text-transform: $button-text-style;

            &:hover {
                cursor: pointer;
            } //:HOVER

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        .elementor-button-content-wrapper {
            // GLOBAL
                align-items: center;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            .elementor-button-icon {
                // GLOBAL
                    margin-right: $icon-margin;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.ELEMENTOR-BUTTON-ICON

            .elementor-button-text {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.ELEMENTOR-BUTTON-TEXT

        } //.ELEMENTOR-BUTTON-CONTENT-WRAPPER
        
    } //.BUTTON-ALL

// BUTTON-SOLID
    #{$button-solid} {
        // GLOBAL
            background-color: $button-solid-color;
            border: $button-border-weight solid $button-solid-text-color;
            color: $button-solid-text-color;

            &:hover {
                background-color: $button-solid-hover-color;
                border: $button-border-weight solid $button-solid-hover-text-color;
                color: $button-solid-hover-text-color;

                .elementor-button-text {
                    color: $button-solid-hover-text-color;
                } //.ELEMENTOR-BUTTON-TEXT
            } //:HOVER

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        .elementor-button-text {
            // GLOBAL
                color: $button-solid-text-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.ELEMENTOR-BUTTON-TEXT

    } //.BUTTON-SOLID

// BUTTON-ALT
    #{$button-alt} {
        // GLOBAL
            background-color: $button-alt-color;
            border: $button-border-weight solid $button-alt-text-color;
            color: $button-alt-text-color;

            &:hover {
                background-color: $button-alt-hover-color;
                border: $button-border-weight solid $button-alt-hover-text-color;
                color: $button-alt-hover-text-color;

                .elementor-button-text {
                    color: $button-alt-hover-text-color;
                }
            } //:HOVER
            
        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        .elementor-button-text {
            // GLOBAL
                color: $button-alt-text-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.ELEMENTOR-BUTTON-TEXT

    } //.BUTTON-ALT

// BUTTON-GHOST
    #{$button-ghost} {
        // GLOBAL
            background-color: $button-ghost-color;
            border: $button-border-weight solid $button-ghost-text-color;
            color: $button-ghost-text-color;

            &:hover {
                background-color: $button-ghost-hover-color;
                border: $button-border-weight solid $button-ghost-hover-text-color;
                color: $button-ghost-hover-text-color;

                .elementor-button-text {
                    color: $button-ghost-hover-text-color;
                } //.ELEMENTOR-BUTTON-TEXT
            } //:HOVER

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        .elementor-button-text {
            // GLOBAL
                color: $button-ghost-text-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.ELEMENTOR-BUTTON-TEXT

    } //.BUTTON-GHOST

// BUTTON-MOBILE
    #{$button-mobile} {
        // GLOBAL
            width: 100.00%;
            display: block;
            margin: $button-margin-vertical auto !important;
            border: $button-border-weight solid $button-mobile-text-color;
            color: $button-mobile-text-color;

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        .elementor-button-text {
            // GLOBAL
                color: $button-mobile-text-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.ELEMENTOR-BUTTON-TEXT

    } //.BUTTON-MOBILE